[submodule "5. DiceGame/tests/lib/forge-std"]
	path = 5. DiceGame/tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "8.NFT_dapp/tests/lib/forge-std"]
	path = 8.NFT_dapp/tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
